body {
  background: #e3e0e0;
  background-image: url("./images/xmastree.png") no-repeat center center;
  background-size : cover;
  height: 100%;
  height: 100%;
}

.snow-container {
  height: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.tree {
  position: absolute;
 /* display: inline-block;*/
 /* top: 0;*/
  margin-top: 3%;
  width: 60%;
 
}

.boules {
 position:fixed;
  top: 0;
  width: 20%;
  left: 80%;
/*  z-index: -1;*/
}

.logo {
  position: relative;
  width: 7%;
  margin-left: 27%;
  margin-top: 2%;
  z-index: 1;
}
